@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

* {
  padding: 0;
  margin: 0;
}

/* index.html page*/
/* header*/
.header {
  background-image: url("../img/Hero\ section.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; /* Prevents background image from repeating */
  height: 100vh; /* Full viewport height */
}
.header-text h3 {
  width: 607px;
  height: 195px;
  gap: 0px;
  font-family: "Lato";
  font-size: 54px;
  font-weight: 800;
  line-height: 64.8px;
  text-align: left;
  color: #00062c;
}
.header-text p {
  width: 536px;
  height: 50px;
  gap: 0px;
  font-family: Lato;
  font-size: 16px;
  font-weight: 500;
  line-height: 25px;
  letter-spacing: 0.03em;
  text-align: left;
  color: #00062ccc;
}
.header-aboutUs {
  background: url("../img/ABOUT\ US.png");
  background-repeat: no-repeat;
  top: 881px;
  left: 696px;
  gap: 32px;
  top: 12px;
  gap: 0px;
  font-family: "  Lato";
  font-size: 36px;
  font-weight: 900;
  line-height: 25px;
  letter-spacing: 0.03em;
  text-align: left;
}
.header-aboutUs p {
  font-family: "Lato";
  font-size: 14px;
  font-weight: 500;
  line-height: 25px;
  letter-spacing: 0.03em;
  text-align: left;
  color: #00062c;
}
.header-aboutUs h4 {
  width: 126px;
  height: 25px;
  gap: 0px;
  font-family: "Lato";
  font-size: 24px;
  font-weight: 900;
  line-height: 25px;
  letter-spacing: 0.03em;
  text-align: left;
  position: relative;
  top: -10px;
}
.header-text span {
  color: #ec3237;
  font-family: "Lato";
  font-size: 54px;
  font-weight: 800;
  line-height: 64.8px;
  text-align: left;
}
.header-text {
  width: 607px;
  height: 337px;
  left: 99px;
  padding: 20px;
  position: relative; /* Enable positioning */
  top: 190px; /* Move down by 20px */
}
.nav-item a {
  font-family: "Lato";
  font-size: 14px;
  font-weight: 500;
  line-height: 16.8px;
  text-align: left;
}
.nav-link a {
  color: #141414;
}

.header-btn {
  width: 179px;
  height: 48px;
  padding: 10px;
  gap: 10px;
  border-radius: 4px;
  background: #00062c;
  gap: 0px;
  color: #ffffff;
  font-family: "Lato";
  font-size: 16px;
  font-weight: 500;
  line-height: 19.2px;
  text-align: center;
}
.image-container {
  position: relative;
  display: inline-block;
}
.image-container img {
  display: block;
}
.overlay-image {
  position: absolute;
  top: 70%; /* Center vertically */
  left: 128%; /* Center horizontally */
  transform: translate(-50%, -50%); /* Adjust the centering */
  margin-left: 20px; /* Move slightly to the right */
  width: 278px;
  height: 413px;
  gap: 0px;
  border-radius: 4px 0px 0px 0px;
}
.img-0verlay {
  width: 278px;
  height: 413px;
  top: 848px;
  left: 100px;
  gap: 0px;
  border-radius: 4px 0px 0px 0px;
}
.header-2 {
  margin-top: 130px;
}
.header-3 {
  margin-top: 180px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center; /* Align text inside the div */
}
.first-col {
  width: 372px;
  height: 219.54px;
  gap: 24px;
  opacity: 0px;
  margin-bottom: 20px;
}
.first-col h5 {
  font-family: "Lato";
  font-size: 16px;
  font-weight: 700;
  line-height: 25px;
  letter-spacing: 0.03em;
  text-align: center;
}
.first-col p {
  width: 372px;
  height: 86px;
  gap: 0px;
  font-family: "Lato";
  font-size: 16px;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 0.03em;
  text-align: center;
  color: #00062c8c;
}
.first-col a {
  text-decoration: none;
  color: #ec3237;
  margin-left: 25px;
}
.SecColumn a {
  text-decoration: none;
  color: #ec3237;
  margin-left: 25px;
}
.custom-col {
  margin-bottom: 30px; /* Adjust the value as needed */
  margin-right: 45px;
}
.sec-Col {
  width: 372px;
  height: 219.54px;
  gap: 24px;
}
.sec-Col h5 {
  height: 12px;
  gap: 0px;
  font-family: Lato;
  font-size: 16px;
  font-weight: 700;
  line-height: 25px;
  letter-spacing: 0.03em;
}
.sec-col h5 {
  height: 10px;
  gap: 0px;
  font-family: Lato;
  font-size: 16px;
  font-weight: 700;
  line-height: 25px;
  letter-spacing: 0.03em;
}
.sec-Col p {
  width: 372px;
  height: 86px;
  gap: 0px;
  font-family: "Lato";
  font-size: 16px;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 0.03em;
  text-align: center;
  color: #00062c8c;
}
.sec-col {
  width: 404px;
  height: 219.54px;
  gap: 24px;
}

.sec-col p {
  width: 404px;
  height: 86px;
  gap: 0px;
  font-family: Lato;
  font-size: 16px;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 0.03em;
  text-align: center;
  color: #00062c8c;
}
.Kard {
  margin-top: 100px;
}
.card {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: 15px;
  margin-right: 15px;
  width: 100%;
  height: 773px;
  gap: 0px;
  border-radius: 6px 0px 0px 0px;
}
.h6-1 {
  width: 59px;
  height: 12px;
  top: 347px;
  left: 25px;
  gap: 0px;
  color: #00062c;
  font-family: "Lato";
  font-size: 16px;
  font-weight: 700;

  text-align: center;
}
.h6-2 {
  width: 47px;
  height: 12px;
  gap: 0px;
  color: #00062c;
  font-family: "Lato";
  font-size: 16px;
  font-weight: 700;

  text-align: center;
}
.h6-3 {
  width: 89px;
  height: 12px;
  top: 347px;
  left: 25px;
  gap: 0px;
  color: #00062c;
  font-family: "Lato";
  font-size: 16px;
  font-weight: 700;

  text-align: center;
}
.card img {
  width: 267px;
  height: 269px;
  top: 37px;
  left: 61px;
  gap: 0px;
}

.line {
  margin-top: -10px;
  position: absolute;
  width: 29.5px;
  height: 4px;

  background-color: #00acec;
}

.card-img-top {
  width: 50%;
  margin-top: 20px;
}
.p1 {
  width: 350px;
  height: 337px;
  top: 378px;
  left: 25px;
  gap: 0px;
  font-family: "Lato";
  font-size: 15px;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 0.03em;
  text-align: left;
  color: #00062c8f;
}
.p2 {
  width: 350px;
  height: 337px;
  gap: 0px;
  font-family: "Lato";
  font-size: 15px;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 0.03em;
  text-align: left;
  color: #00062c8f;
}
.p3 {
  width: 350px;
  height: 337px;
  top: 378px;
  left: 25px;
  gap: 0px;
  font-family: "Lato";
  font-size: 15px;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 0.03em;
  text-align: left;
  color: #00062c8f;
}

/* Header styling */
.header-3 {
  margin-bottom: 30px;
}
.header-services {
  background: url("../img/OUR\ SERVICES.png");
  background-repeat: no-repeat;
  text-align: left;
  margin-left: -60px;
}
.header-services h3 {
  margin-bottom: 10px;
  width: 286px;
  height: 25px;
  position: relative;
  top: -10px;
  left: 4.5px;
  gap: 0px;
  font-family: "Lato";
  font-size: 24px;
  font-weight: 900;
  line-height: 25px;
  letter-spacing: 0.03em;
  text-align: center;
  color: #00062c;
}

.header_services p {
  width: 529px;
  height: 36px;
  gap: 0px;
  font-family: "Lato";
  font-size: 15px;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 0.03em;
  text-align: center;
  color: #00062c8c;
}
/*Footer */
.footer-bg {
  background-image: url("../img/checkup.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; /* Prevents background image from repeating */
  height: 80vh; /* Full viewport height */
  margin-top: 50px;
}
.Footer-col1 {
  width: 511px;
  height: 158px;
  top: 236px;
  left: 9px;
  gap: 24px;
  position: relative; /* Enable positioning */
  top: 190px; /* Move down by 20px */
}
.Footer-col1 h4 {
  width: 511px;
  height: 86px;
  gap: 0px;
  font-family: "Lato";
  font-size: 36px;
  font-weight: 800;
  line-height: 43.2px;
  text-align: left;
  color: #ffffff;
}
.Footer-col1 p {
  width: 447px;
  height: 48px;
  gap: 0px;
  font-family: "Lato";
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  text-align: left;
  color: #ffffff;
}
/* .Footer-col2 {
  width: 528px;
  height: 583px;
  left: 213px;
  gap: 0px;
  border-radius: 14px;
  background-color: #ffffff;
  position: relative; /* Enable positioning */
/* Move down by 20px */

.Contact-form {
  background: #fff;
  width: 528px;
  height: 583px;
  gap: 0px;
  border-radius: 14px;
  left: 180px;
  gap: 24px;
  position: relative; /* Enable positioning */
  top: 20px; /* Move down by 20px */
}
.btn-Primary {
  width: 482px;
  height: 48px;
  top: 476px;
  left: 22px;
  padding: 10px;
  gap: 10px;
  border-radius: 4px;
  background-color: #00acec;
  color: #fff;
}
.F1 {
  padding-top: 50px;
}
.form-group input {
  width: 482px;
  height: 50px;
  padding: 10px 10px 10px 24px;
  gap: 10px;
  border-radius: 6px 0px 0px 0px;
  border: 1px 0px 0px 0px;
}
.form-group textarea {
  width: 482px;
  height: 110px;
  padding: 10px 10px 10px 24px;
  gap: 10px;
  border-radius: 6px 0px 0px 0px;
  border: 1px 0px 0px 0px;
}
.foter a {
  text-decoration: none;
  font-family: "Lato";
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.006em;
  text-align: left;
  color: #666666;
}
.foter1 p {
  width: 208px;
  height: 24px;
  top: 104px;
  left: 100px;
  font-family: "Lato";
  font-size: 12px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.006em;
  text-align: left;
  color: #808080;
}
.funter {
  background-color: #fbfbfb;
}
.funter .row {
  padding: 30px;
}
/* Responsive adjustments for smaller screens */
@media (max-width: 768px) {
  /* index.html page*/

  .header {
    height: 486px;
    top: 66px;
    gap: 0px;
  }

  .header-text {
    width: 349px;
    height: 285.44px;
    top: 54px;
    left: -10px;
    gap: 22px;
  }
  .header-text h3 {
    width: 377px;
    height: 114px;
    gap: 0px;
    font-family: Lato;
    font-size: 30px;
    font-weight: 800;
    line-height: 38.4px;
    text-align: left;
    padding-bottom: 130px;
  }

  .header-text span {
    width: 324px;
    height: 114px;
    gap: 0px;
    font-size: 30px;
  }
  .header-text p {
    width: 267px;
    height: 84px;
    gap: 0px;
    font-size: 16px;
    padding-bottom: 100px;
  }
  .header-2 {
    margin-top: 50px;
  }
  .header-3 {
    text-align: left;
    margin-top: 50px;
  }

  .header-services {
    width: 264px;
    height: 25px;
    top: 12px;
    gap: 0px;
    font-family: "Lato";
    font-size: 12px;
    font-weight: 300;
    line-height: 25px;
    letter-spacing: 0.03em;
    text-align: left;
    margin-right: 30px;
  }
  .header-services h3 {
    width: 147px;
    height: 25px;
    gap: 0px;
    font-family: "Lato";
    font-size: 20px;
    font-weight: 900;
    line-height: 25px;
    letter-spacing: 0.03em;
    text-align: left;
  }

  .header_services p {
    font-size: 0.9rem;
    width: 353px;
    height: 61px;
    gap: 0px;
    font-family: "Lato";
    font-size: 15px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0.03em;
    text-align: left;
  }
  .first-col img {
    display: block; /* Ensure the image takes full width on small screens */
    margin: 0 auto 10px 0; /* Center the image horizontally and add bottom margin */
    text-align: left;
  }
  .sec-Col img {
    display: block; /* Ensure the image takes full width on small screens */
    margin: 0 auto 10px 0; /* Center the image horizontally and add bottom margin */
    text-align: left;
  }
  .sec-Col {
    text-align: left;
    margin-bottom: 20px;
    width: 349px;
    height: 219.54px;
    gap: 24px;
  }
  .sec-Col h5 {
    font-family: "Lato";
    font-size: 16px;
    font-weight: 700;
    line-height: 25px;
    letter-spacing: 0.03em;
    text-align: left;
    color: #00062c;
  }
  .sec-Col p {
    width: 349px;
    height: 86px;
    gap: 0px;
    font-family: "Lato";
    font-size: 16px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0.03em;
    text-align: left;
    color: #00062c8c;
  }
  .sec-col img {
    display: block; /* Ensure the image takes full width on small screens */
    margin: 0 auto 10px 0; /* Center the image horizontally and add bottom margin */
    text-align: left;
  }
  .sec-col {
    text-align: left;
    margin-bottom: 20px;
    width: 349px;
    height: 219.54px;
    gap: 24px;
  }
  .sec-col h5 {
    font-family: "Lato";
    font-size: 16px;
    font-weight: 700;
    line-height: 25px;
    letter-spacing: 0.03em;
    text-align: left;
    color: #00062c;
  }
  .sec-col p {
    width: 349px;
    height: 86px;
    gap: 0px;
    font-family: "Lato";
    font-size: 16px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0.03em;
    text-align: left;
    color: #00062c8c;
  }
  .first-col {
    text-align: left;
    margin-bottom: 20px;
    width: 349px;
    height: 219.54px;
    gap: 24px;
  }

  .first-col h5 {
    font-family: "Lato";
    font-size: 16px;
    font-weight: 700;
    line-height: 25px;
    letter-spacing: 0.03em;
    text-align: left;
    color: #00062c;
  }

  .first-col p {
    width: 349px;
    height: 86px;
    gap: 0px;
    font-family: "Lato";
    font-size: 16px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0.03em;
    text-align: left;
    color: #00062c8c;
  }

  .first-col a {
    display: block;
    margin-left: 0 !important;
    text-align: left;
  }
  .SecColumn a {
    display: block;
    margin-left: 0 !important;
    text-align: left;
  }
  .About-us {
    width: 353px;
    height: 645px;
    top: 625px;
    left: 21px;
    gap: 27px;
  }
  .About-us p {
    width: 353px;
    height: 186px;
    gap: 0px;
    font-family: "Lato";
    font-size: 16px;
    font-weight: 500;
    line-height: 25px;
    letter-spacing: 0.03em;
    text-align: left;
  }
  .custom-col {
    margin-bottom: 0;
    margin-right: 15px; /* Space between columns */
  }

  .custom-col:last-child {
    margin-right: 0;
  }
  .card {
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 10px;
    margin-right: 10px;
  }
  .p1,
  .p2,
  .p3 {
    width: 303px;
    height: 431px;
    top: 378px;
    left: 25px;
    gap: 0px;
    opacity: 0px;
  }
  .card img {
    width: 207px;
    height: 269px;
    top: 37px;
    left: 61px;
    gap: 0px;
  }
  .card-img-top {
    width: 50%;
    margin-top: 10px;
  }
}
