@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

* {
  padding: 0;
  margin: 0;
}

/* index.html page*/
.header {
  background-image: url("../img/Hero\ section.png");
  height: 630px;
  gap: 0px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; /* Prevents background image from repeating */
  height: 100vh; /* Full viewport height */
}
.header-text h3 {
  width: 607px;
  height: 195px;
  gap: 0px;
  font-family: "Lato";
  font-size: 54px;
  font-weight: 800;
  line-height: 64.8px;
  text-align: left;
  color: #00062c;
}
.header-text p {
  width: 536px;
  height: 50px;
  gap: 0px;
  font-family: Lato;
  font-size: 16px;
  font-weight: 500;
  line-height: 25px;
  letter-spacing: 0.03em;
  text-align: left;
  color: #00062ccc;
}
.header-aboutUs {
  background: url("../img/ABOUT\ US.png");
  background-repeat: no-repeat;
  width: 631px;
  height: 347px;
  top: 881px;
  left: 696px;
  gap: 32px;
  top: 12px;
  gap: 0px;
  font-family: "  Lato";
  font-size: 36px;
  font-weight: 900;
  line-height: 25px;
  letter-spacing: 0.03em;
  text-align: left;
}
.header-aboutUs p {
  font-family: "Lato";
  font-size: 14px;
  font-weight: 500;
  line-height: 25px;
  letter-spacing: 0.03em;
  text-align: left;
  color: #00062c;
}
.header-aboutUs h4 {
  width: 126px;
  height: 25px;
  gap: 0px;
  font-family: "Lato";
  font-size: 24px;
  font-weight: 900;
  line-height: 25px;
  letter-spacing: 0.03em;
  text-align: left;
  position: relative;
  top: -10px;
}
.header-text span {
  color: #ec3237;
  font-family: "Lato";
  font-size: 54px;
  font-weight: 800;
  line-height: 64.8px;
  text-align: left;
}
.header-text {
  width: 607px;
  height: 337px;
  left: 99px;
  padding: 20px;
  position: relative; /* Enable positioning */
  top: 190px; /* Move down by 20px */
}

.nav-item a {
  font-family: "Lato";
  font-size: 14px;
  font-weight: 500;
  line-height: 16.8px;
  text-align: center;
}
.nav-link a {
  color: #141414;
}

.header-btn {
  width: 179px;
  height: 48px;
  padding: 10px 0px 0px 0px;
  gap: 10px;
  border-radius: 4px 0px 0px 0px;
  background: #00062c;
  gap: 0px;
  color: #ffffff;
  font-family: "Lato";
  font-size: 16px;
  font-weight: 500;
  line-height: 19.2px;
  text-align: center;
}
.image-container {
  position: relative;
  display: inline-block;
}
.image-container img {
  display: block;
}
.overlay-image {
  position: absolute;
  top: 70%; /* Center vertically */
  left: 128%; /* Center horizontally */
  transform: translate(-50%, -50%); /* Adjust the centering */
  margin-left: 20px; /* Move slightly to the right */
  width: 278px;
  height: 413px;
  gap: 0px;
  border-radius: 4px 0px 0px 0px;
}
.img-0verlay {
  width: 278px;
  height: 413px;
  top: 848px;
  left: 100px;
  gap: 0px;
  border-radius: 4px 0px 0px 0px;
}
.header-2 {
  margin-top: 130px;
}
.header-3 {
  margin-top: 180px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center; /* Align text inside the div */
}
.header-services {
  background: url("../img/OUR\ SERVICES.png");
  background-repeat: no-repeat;
  width: 293px;
  height: 25px;
}
.header-services h3 {
  width: 286px;
  height: 25px;
  position: relative;
  top: -10px;
  left: 4.5px;
  gap: 0px;
  font-family: "Lato";
  font-size: 24px;
  font-weight: 900;
  line-height: 25px;
  letter-spacing: 0.03em;
  text-align: center;
  color: #00062c;
}
.header_services p {
  width: 529px;
  height: 36px;
  gap: 0px;
  font-family: "Lato";
  font-size: 15px;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 0.03em;
  text-align: center;
  color: #00062c8c;
}
.col-md-4 {
  width: 372px;
  height: 219.54px;
  gap: 24px;
  font-family: "Lato";
  font-size: 16px;
  font-weight: 400;
  color: #00062c8c;
}
.h5-1 {
  font-family: "Lato";
  font-size: 16px;
  font-weight: 700;
  line-height: 25px;
  letter-spacing: 0.03em;
  color: #00062c;
}
.firstCol a {
  text-decoration: none;
  color: #ec3237;
}
.firstCol {
  margin-top: 100px;
}
.SecondCol-1 {
  width: 404px;
  height: 219.54px;
  gap: 24px;
  font-family: "Lato";
  font-size: 16px;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 0.03em;
  text-align: center;
  color: #00062c8c;
}
.SecondCol-2 {
  width: 404px;
  height: 219.54px;
  gap: 24px;
  font-family: "Lato";
  font-size: 16px;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 0.03em;
  text-align: center;
  color: #00062c8c;
}
@media screen and (max-width: 768px) {
  /* index.html page*/

  .header {
    height: 486px;
    top: 66px;
    gap: 0px;
  }
  .header-text {
    width: 349px;
    height: 285.44px;
    top: 54px;
    left: -10px;
    gap: 22px;
  }
  .header-text h3 {
    width: 377px;
    height: 114px;
    gap: 0px;
    font-family: Lato;
    font-size: 30px;
    font-weight: 800;
    line-height: 38.4px;
    text-align: left;
    padding-bottom: 130px;
  }

  .header-text span {
    width: 324px;
    height: 114px;
    gap: 0px;
    font-size: 30px;
  }
  .header-text p {
    width: 267px;
    height: 84px;
    gap: 0px;
    font-size: 16px;
    padding-bottom: 100px;
  }
  .header-aboutUs {
    width: 353px;
    height: 478px;
    gap: 24px;
  }
}
