@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

* {
  padding: 0;
  margin: 0;
}

.header {
  background-color: red;
  width: 1600px;
  height: 630px;
  gap: 0px;
}
.header-text h3 {
  width: 607px;
  height: 195px;
  gap: 0px;
  font-family: Lato;
  font-size: 54px;
  font-weight: 800;
  line-height: 64.8px;
  text-align: left;
}
